<!DOCTYPE html>
<html>
<head>
	<title>Add Place</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}

		#addPlaceForm{
			margin: auto auto;
			margin-top: 10vh;
			border: 1px solid black;
			padding: 5vh;
			border-radius: 50px;
		}
		img{
			margin-right: 2vh;
		}
	</style>
</head>
<body>

	<div>
		<% include navbar.ejs ;%>
	</div>
	
	<div class="container" id="addPlaceForm" style="margin-top: 18vh;">
		
		<div> 
			<h2 style="color: black;">Add Case</h2>
		</div>

		<form action="/user/addCase" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="title">Title of the case:</label>
			    <input type="text" class="form-control" id="title" name="title" placeholder="Please Enter Name of case" required>
			</div>
			<div class="form-group">
				<label for="victimName">Name of the Victim :</label>
			    <input type="text" class="form-control" id="victimName" name="victimName" placeholder="Please Enter Victims name" required>
			</div>
			<div class="form-group">
			    <label for="description">Description of the case:</label>
			    <!-- <input type="text" class="form-control" id="slot" name="slot" placeholder="Please number of slots" required> -->
			    <textarea id="description" name="description" rows="4" cols="100" placeholder="Enter description for the case"></textarea>
			    
			</div>

			<div>
				<label for="casepdf">Upload case pdf</label>
				<input type="file" class="form-control" name="casepdf" id="casepdf">
				<div id="gallery" style="margin-top: 3vh;">	</div>
			</div>

			<div>
				<label for="lawyerId">Enter Layer Id</label>
				<input type="number" class="form-control" name="lawyerId" id="lawyerId">
			</div>

			  <button type="submit" class="btn btn-primary" style="margin-top: 4vh;">Submit</button>

		</form>

		<!-- <img src="/uploads/placeOwner/rajan@gmail.com/One_Piece2.png" alt="on" width="100" height="100"> -->

	</div>

	<div>
		
		<% include footer.ejs ;%>

	</div>

</body>

<script type="text/javascript">
	function previewImages(){
	var $preview = $('#gallery').empty();
	if (this.files){
		$.each(this.files, readAndPreview);
	}

	function readAndPreview(i,file){
		if(!/\.(jpe?g|png|gif)$/i.test(file.name)){
			return alert(file.name +" is not an image");
		}

		var reader = new FileReader();

		$(reader).on("load", function(){
			$preview.append($("<img/>", {src: this.result, height: 100}));
		});

		reader.readAsDataURL(file);
	}

}

$('#placeImages').on("change", previewImages);

</script>

</html>