<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/images/logo.png" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
	<style type="text/css">
		
	</style>

</head>
<body>

	<div style="background-color: #7363ff;overflow-x: hidden;">
		<div class="row">
			<div style=" margin: 2vh;margin-left: 5vh; ">
				<img src="/images/logo.png" width="130" height="130">
				<h2>Law System</h2>
			</div>
			<div style=" margin: 2vh;margin-left: 25vh;">
				<h1>Contact Us</h1>
				<p><strong>Mobile No. :</strong>1234567890</p>
				<p><strong>E-mail : </strong>vishesh@gmail.com</p>
			</div>
			<div style="margin: 2vh; margin-left: 25vh; ">
				<h1>Author of Project</h1>
				<h4>Vishesh Prajapati</h4>
			</div>
		</div>
	</div>

</body>
</html>