<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css">

		.card{
			margin-right: 9vh;
			margin-bottom: 10vh;
			margin-top: 5vh;
		}

		tr{
			padding-bottom: 5vh;
		}

/*body : style="background: #ffbb33;"*/
/*card : background: #ff751a;*/

	</style>
</head>
<body>

	<div>

		<% include navbar.ejs ;%>

	<div>

	<div>
		<img src="/images/background.jpg" width="100%" height="500">
	</div>

	<div class="container" style="justify-content: center;">
		<h2 style="color: lightgreen; font-weight: bold; text-align: center;">Popular Topics</h2>
		
		<table class="table">
		    <tbody>
		      <tr>
		        <td>
		        	<div>
		        		<img src="/images/t1.jpg" width="400" height="250">
		        	</div>
		        </td>
		        <td>
		        	<h1 style="font-weight: bold;">Free and Compulsory Education</h1>
		        	<p>All children between the ages of 6 to 14 can get free education from class 1 to class 8, in a nearby government school or aided school. Children who have never been to school or have dropped out can get back to school. They will get admission in a class suitable to their age.</p>
		        </td>
		      </tr>
		      <tr>
		      	<td>
		        	<h1 style="font-weight: bold;">Anti-Corruption</h1>
		        	<p> Corruption is the abuse of power by people by people in power for their own gain in a dishonest or unethical way. In India, it is illegal for public servants to accept money/gifts over and above their salary, in return for doing their duty, favoring a person or for not doing their duty. Any person helping the public servant commit these crimes can also be punished.</p>
		      	</td>
		        <td>
		        	<div>
		        		<img src="/images/t2.jpg" width="400" height="250" style="margin-left: 15vh;">
		        	</div>
				</td>
		      </tr>
		      <tr> 
		        <td>
		        	<div>
		        		<img src="/images/t3.jpg" width="400" height="250">
		        	</div>
		        </td>
		        <td>
		        	<h1 style="font-weight: bold;">Right to Information</h1>
		        	<p>The application can be in either English, Hindi or the official language of the area. The application should be in writing. It can be submitted personally, through post, e-mail or through online portals. For public authorities under the Central Government, there is an online forum where RTI applications can be made directly. You can also access step-by-step guidelines on how to send an application through the online portal.</p>
		        </td>
		      </tr>
		      <tr>
		      	<td>
		        	<h1 style="font-weight: bold;">Censorship</h1>
		        	<p> For films/movies to be shown to the general public, they must be certified by the Indian Government. Many films are only certified if certain conditions are met and certain changes are made. This is more or less government censorship, since the government is blocking or hiding content from the content's intended audience.</p>
		      	</td>
		        <td>
		        	<div>
		        		<img src="/images/t4.jpg" width="400" height="250" style="margin-left: 15vh;">
		        	</div>
				</td>
		      </tr>
		      <tr> 
		        <td>
		        	<div>
		        		<img src="/images/dowery.jpg" width="400" height="250">
		        	</div>
		        </td>
		        <td>
		        	<h1 style="font-weight: bold;">Dowery</h1>
		        	<p>Dowry is anything which has value (such as cash and property) which is given by the bride’s family to the groom’s family as a condition of marriage.The law does not stop you from exchanging gifts with your fiance’s family during the wedding. The purpose of this law is to prohibit coercion during gift exchange.</p>
		        </td>
		      </tr>
		      <tr>
		      	<td>
		        	<h1 style="font-weight: bold;">Domestic Violence</h1>
		        	<p> A woman should have been in a domestic relationship with the offender. She need not only be a married woman. A woman in a live-in-relationship can also file a case. She should have lived with the offender in a shared household.</p>
		      	</td>
		        <td>
		        	<div>
		        		<img src="/images/domestic.jpg" width="400" height="250" style="margin-left: 15vh;">
		        	</div>
				</td>
		      </tr>
		      <tr> 
		        <td>
		        	<div>
		        		<img src="/images/online.jpg" width="400" height="250">
		        	</div>
		        </td>
		        <td>
		        	<h1 style="font-weight: bold;">Online Abuse</h1>
		        	<p>Online abuse happens on various platforms on the internet - social media, chat, forums etc. When faced with online abuse, your first step should be to see what the policy of the platform where the abuse is happening is, and what steps the platform recommends for you to stop it. We have compiled a list of steps you can take for responding to abuse on facebook, facebook messenger, twitter, instagram, snapchat, reddit, youtube, whatsapp and text messages on your phone.</p>
		        </td>
		      </tr>
		      <tr>
		      	<td>
		        	<h1 style="font-weight: bold;">Sexual Harassment at work place</h1>
		        	<p>Women in India are protected from Sexual Harassment at the workplace.If you are a working woman in any capacity as given under, you will be protected from being subjected to sexual harassment at the workplace</p>
		      	</td>
		        <td>
		        	<div>
		        		<img src="/images/harass.jpg" width="400" height="250" style="margin-left: 15vh;">
		        	</div>
				</td>
		      </tr>
		      <tr> 

		    </tbody>
		  </table>


	</div>

	<div>
		
		<% include footer.ejs ;%>

	</div>

</body>

</html>
